/.vscode
/bin
/dotnet
/maps
/node_modules
/plugins
/BugTrap-x64.dll
/linux_x64.tar.gz
/package-lock.json
/ragemp-server.exe
/conf.json
/client_packages/
/packages/
/sources/node_modules
/sources/package-lock.json
/.env
/sources/esbuild.config.js
/sources/tsconfig.json
/sources/src/server/
/package.json
/sources/package.json
/sources/src/client/index.ts
/sources/types/global.d.ts